/BASICs/.terraform.lock.hcl
/BASICs/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/windows_amd64/LICENSE.txt
/BASICs/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/windows_amd64/terraform-provider-aws_v5.83.1_x5.exe
/BASICs/terraform.tfstate
/BASICs/terraform.tfstate.backup
/.idea/workspace.xml
/Variable/.terraform.lock.hcl
/Variable/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/windows_amd64/terraform-provider-aws_v5.83.1_x5.exe
/Variable/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/windows_amd64/LICENSE.txt
/PROVISION/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.1/windows_amd64/terraform-provider-aws_v5.54.1_x5.exe
/PROVISION/levelup_key.pub
/PROVISION/levelup_key
/PROVISION/terraform.tfstate.backup
/PROVISION/terraform.tfstate
/PROVISION/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.1/windows_amd64/LICENSE.txt
/PROVISION/.terraform.lock.hcl
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/PROVISION/Datasource/.terraform.lock.hcl
/PROVISION/Datasource/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/windows_amd64/LICENSE.txt
/PROVISION/Datasource/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/windows_amd64/terraform-provider-aws_v5.83.1_x5.exe
/PROVISION/Datasource/.terraform.tfstate.lock.info
/PROVISION/Datasource/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.1/windows_amd64/LICENSE.txt
/PROVISION/Datasource/terraform.tfstate
/PROVISION/Datasource/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.1/windows_amd64/terraform-provider-aws_v5.54.1_x5.exe
/AWS service/VPC/.terraform.lock.hcl
/AWS service/VPC/.terraform/providers/registry.terraform.io/hashicorp/aws/5.84.0/windows_amd64/LICENSE.txt
/AWS service/VPC/.terraform/providers/registry.terraform.io/hashicorp/aws/5.84.0/windows_amd64/terraform-provider-aws_v5.84.0_x5.exe
